section {
  position: relative;
}

.pd_l{
  padding-left: px2vw(230);
}

.pd_r{
  padding-right: px2vw(230);
}

.pd_t{
  padding-top: px2vw(130);
}

.pd_b{
  padding-bottom: px2vw(130);
}

.gradient{
  background: linear-gradient(135.22deg, #1C436B 0.69%, #3481CD 109.42%);
}