.preloader{
  position: fixed;
  z-index: 10001;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .7s;

  .logo{
    width: px2vw(200);

    .act{
      opacity: 0;
      transition: .4s;

      &.op{
        opacity: 1;
        transition: 1s;
      }
    }

  }

  &.opacity{
    opacity: 0;
  }
  &.none{
    display: none;
  }
}