// Convert px to vw
@function px2vw($px) {
  // Default viewport width
  $def_screen: 1440;
  $vw: $def_screen * 0.01;
  @return ($px / $vw) * 1vw;
}

// Image fit & center
@mixin center-image {
  img {
    position: absolute;
    object-fit: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
}